@model SliderInfo
@{
    ViewData["Title"] = "Create";
}

<div>
    <form class="forms-sample mt-5" method="post" enctype="multipart/form-data" asp-action="Create">
        <div class="form-group">
            <label asp-for="Title">Title</label>
            <input asp-for="Title" class="form-control" placeholder="Title">
            <span asp-validation-for="Title"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">Description</label>
            <input asp-for="Description" class="form-control" placeholder="Description">
            <span asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
            <label asp-for="Photo">Image</label>
            <input asp-for="Photo" class="form-control">
            <span asp-validation-for="Photo"></span>
        </div>

        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <div class="back mt-3">
            <a class="btn btn-info" asp-action="Index">Back</a>
        </div>
    </form>

</div>

